

.card{
    width: 100%;
    max-width: 470px;
    background:linear-gradient(135deg,#161f1c,#07012b);
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background: #17171a;
color: #eee8e8;
padding: 10px 25px;
height: 40px;
border-radius: 10px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #3333f0;
    align-items: end;
    border-radius: 10%;
    height: 37px;
    cursor:pointer;
    padding-left:25px;
    padding-right: 25px;
    
}
.search button:hover{
    background: #0e0253;
}

/* .search button{
    
    width: 40px;
    padding-left: 18px;
    
} */
.whether h1{
    font-size: 80px;
    font-weight: 500;

}
.whether h1{
    font-size: 45px;
    font-weight: 400;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.whether{
    display: none;
    
}
.whether img{
    margin: auto;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather-deatils{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: 50px auto 0; /* Top margin, 10px right margin, no left margin */
        border-radius: 10px;
        padding: 20px;
    }

    .search {
        flex-direction: column;
        align-items: center;
    }

    .search input {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    .search button {
        margin-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

  
}