

.card{
    width: 100%;
    max-width: 470px;
    background:linear-gradient(135deg,#013d2c,#07012b);
    color:#fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search input{
border: 0;
outline: 0;
background: #014137;
color: #eee8e8;
padding: 10px 25px;
height: 60px;
border-radius: 30px;
flex: 1;
margin-right: 16px;
font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background: #014137;
    align-items: end;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor:pointer;
}
.search button:hover{
    background: #0e0253;
}

.search button img{
    
    width: 40px;
    padding-left: 18px;
    
}
.whether h1{
    font-size: 80px;
    font-weight: 500;

}
.whether h1{
    font-size: 45px;
    font-weight: 400;

}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.whether{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.weather-deatils{
    text-align: center;
}